{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<!-- Page Header -->

<div class="d-flex justify-content-between align-items-center mb-4">

<h2>Orders</h2>

<a href="{% url 'create_order' %}">
    <button class="btn btn-primary" data-bs-target="#orderModal">
    + Create Order
    </button>
</a>


</div>


<!-- Search -->

<form method="get">
    
    <div class="mb-3">

    <input type="text" class="form-control" placeholder="Search order by dealer or order number" name="q" value="{{ req.GET.q }}">

    </div>

</form>


{% if orders %}

<!-- Orders Table -->

<div class="card">

<div class="card-body">

<table class="table table-hover">

<thead class="table-light">

<tr>
<th>Order No</th>
<th>Dealer</th>
<th>Total Amount</th>
<th>Status</th>
<th>Date</th>
<th>Actions</th>
</tr>

</thead>

<tbody>

{% for order in orders %}
<tr>
<td>{{order.order_number}}</td>
<td>{{ order.dealer }}</td>
<td>{{ order.total_amount}}</td>
<td><span class="badge
        {% if order.status == 'draft' %}
            bg-secondary
        {% elif order.status == 'confirmed' %}
            bg-success
        {% elif order.status == 'delivered' %}
            bg-primary
        {% endif %}
    ">
        {{ order.status }}
    </span></td>
<td>{{ order.updated_at| date:'M,d Y'}}</td>
<td>

{% if order.status == "draft" %}

<a href="{% url 'edit_order' order.pk %}">
    <button class="btn btn-sm btn-outline-primary">Edit</button>
</a>

{% else %}

<a href="{% url 'view_order' order.pk %}">
    <button class="btn btn-sm btn-outline-secondary">View</button>
</a>

{% endif %}

<a href="{% url 'delete_order' order.pk %}"
    onclick="return confirm('Are you sure you want to delete this product?')">
    <button class="btn btn-sm btn-outline-danger">Delete</button>
</a>

</td>
</tr>
{% endfor %}


</tbody>

</table>

</div>

</div>

</div>

{% else %}

<h2>No Orders</h2>
{% endif %}



{% endblock %}