{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<!-- Page Header -->

<div class="d-flex justify-content-between align-items-center mb-4">

<h2>Orders</h2>

<a href="{% url 'genreate_order_number' %}">
    <button class="btn btn-primary" data-bs-target="#orderModal">
    + Create Order
    </button>
</a>


</div>


<!-- Search -->

<div class="mb-3">

<input type="text" class="form-control" placeholder="Search order by dealer or order number">

</div>


<!-- Orders Table -->

<div class="card">

<div class="card-body">

<table class="table table-hover">

<thead class="table-light">

<tr>
<th>Order No</th>
<th>Dealer</th>
<th>Total Amount</th>
<th>Status</th>
<th>Date</th>
<th>Actions</th>
</tr>

</thead>

<tbody>

{% for order in orders %}
<tr>
<td>{{order.order_number}}</td>
<td>{{ order.dealer }}</td>
<td>{{ order.total_amount}}</td>
<td><span class="badge
        {% if order.status == 'draft' %}
            bg-secondary
        {% elif order.status == 'confirmed' %}
            bg-success
        {% elif order.status == 'delivered' %}
            bg-primary
        {% endif %}
    ">
        {{ order.status }}
    </span></td>
<td>{{ order.updated_at| date:'M,d Y'}}</td>
<td>
<button class="btn btn-sm btn-outline-primary">View</button>
<button class="btn btn-sm btn-outline-danger">Delete</button>
</td>
</tr>
{% endfor %}


</tbody>

</table>

</div>

</div>

</div>


<!-- Create Order Modal -->

<div class="modal fade" id="orderModal">

<div class="modal-dialog modal-lg">

<div class="modal-content">

<div class="modal-header">

<h5 class="modal-title">Create Order</h5>

<button type="button" class="btn-close" data-bs-dismiss="modal"></button>

</div>

<div class="modal-body">

<form>

<!-- Dealer -->

<div class="mb-3">

<label class="form-label">Dealer</label>

<select class="form-control">
<option>Select Dealer</option>
<option>ABC Motors</option>
<option>XYZ Auto</option>
</select>

</div>


<!-- Order Items -->

<h5 class="mt-4">Order Items</h5>

<table class="table">

<thead>

<tr>
<th>Product</th>
<th>Qty</th>
<th>Unit Price</th>
<th>Total</th>
<th></th>
</tr>

</thead>

<tbody>

<tr>

<td>

<select class="form-control">
<option>Brake Pad</option>
<option>Engine Oil</option>
</select>

</td>

<td>
<input type="number" class="form-control" value="1">
</td>

<td>
<input type="text" class="form-control" value="500" readonly>
</td>

<td>
<input type="text" class="form-control" value="500" readonly>
</td>

<td>
<button class="btn btn-sm btn-danger">X</button>
</td>

</tr>

</tbody>

</table>


<button type="button" class="btn btn-secondary mb-3">
+ Add Product
</button>


<!-- Order Total -->

<div class="text-end">

<h5>Total Amount : ₹500</h5>

</div>


<button class="btn btn-success w-100 mt-3">
Create Order
</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}